html{
  height: 100%;
  margin: 0;
}
body{
  background-repeat: no-repeat;
}
ul{
  list-style-type: none;
  margin: 0;
  padding-left: 24%;
  overflow: hidden;
}
.nav_bar{
  font-family: "EnceladusReg";
  float: left;
  display: block;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
}
a:link{
  text-decoration: none;
  color: black;
}
a:visited { 
  text-decoration: none;
  color: black;
 }
.current_page{
  font-family: "EnceladusBold";
}
@font-face {
  font-family: "EnceladusReg";
  src: url("EnceladusRegular-d9xyE.otf");
}
@font-face {
  font-family: "EnceladusBold";
  src: url("EnceladusBold-7BrER.otf");
}
@font-face {
  font-family: "EnceladusDemiBold";
  src: url("EnceladusDemibold-mL18a.otf");
}
.greeting{
  width: 450px;
  height: 212px;
  border-radius: 20px;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  background: linear-gradient(90deg,#43cea2,#3993ec)
}
.picture_of_me{
  width: 425px;
  height: 425px;
  border-radius: 20px;
  border-color: black;
  border-width: 3px;
  border-style: solid;
}
.socials_bar{
  display: grid;
  grid-template-columns: 120px 120px 120px;
  margin-left: 14%;
  padding-top: 5px;
}
.social_logo{
  width: 55px;
  height: 55px;
}
@keyframes expand{
  100%{
    transform: scale(1.1);
  }
}
.social_logo:hover{
  animation-name: expand;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  cursor: pointer;
}
.project_gif{
  border-radius: 20px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  position: absolute;
  width: 439px;
  height: 190px;
  border-radius: 25px;
  opacity: 1;
}
.project{
  border-radius: 20px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  position: relative;
  width: 439px;
  height: 190px;
  border-radius: 25px;
  opacity: 1;
}
.project:hover{
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.project_gif:hover{
  cursor: pointer;
  z-index: 2;
}
.project_text{
  position: relative;
  font-family: EnceladusReg
}
.project_div{
  width: 450px;
}
.project_div:hover{
  animation-name: expand;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  cursor: pointer;
}
.body_container{
  display: grid;
  margin-left: 24.2%;
  width: 65%;
  gap: 1.5%;
  grid-template-columns: repeat(auto-fill, minmax(450px, 450px));
}
@media only screen and (min-width: 360px) and (max-width: 460px){
  ul{
    margin-left: -120px;
  }
  .body_container{
    margin-left: -55px !important;
  }
  body{
    transform: scale(0.75);
  }
}
@media only screen and (min-width: 768px) and (max-width: 868px){
  ul{
    margin-left: -240px;
  }
  .picture_of_me{
    margin-left: 195px;
  }
  .socials_bar{
    margin-left: 260px;
  }
  .body_container{
    margin-left: -80px;
    width: 100%;
    column-gap:30%;
    grid-template-columns: repeat(auto-fill, minmax(250px, 250px));
  }
  body{
    transform: scale(0.65);
  }
}